@model IEnumerable<Project.Models.Message>

<div class="col-md-10">
    <h1 style="font-weight:bold;">Messages</h1>
    <hr />
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked" style="overflow:hidden;">
            <li><a href="~/Manage/Index">Start</a></li>
            <li><a href="~/Account/ChangeProfile">Change profile</a></li>
            <li><a href="~/Manage/ChangePassword">Change Password</a></li>
            <li class="active" style="font-size:30px;"><a href="~/Message/ShowMessages">Messages</a></li>
        </ul>
    </div>

    <div class="col-md-8">

        @if (Model != null)
        {
            @Html.ActionLink("Reply", "Message", "Message", null, new { @class = "btn btn-sm btn-success" })
            foreach (var item in Model.Reverse())
            {

                <h2>From: @item.FromUser</h2>
                <p style="font-style:italic">Date: @item.DateSent</p>
                <p>@item.Content</p>
                <br />
                
            }
            <a href="#" class="btn btn-info">Back to the top!</a>
        }
        else
        {
            if (ViewBag.ErrorMessage != null)
            {
                <h1>@ViewBag.ErrorMessage</h1>
                    <br />
                    <h2>Would you like to create one?</h2>
                    @Html.ActionLink("Create", "Message", "Message", null, new { @class = "btn btn-sm btn-success"})
            }
        }


    </div>
</div>

