@using Project.Models
@{
    ApplicationDbContext context = new ApplicationDbContext();
    var test = context.ThreadPost.ToList();
}
<div ng-app="myModule">
    @foreach (var item in Model)
    {
        <ul class="col-md-10 col-md-offset-1" style="list-style:none; border-style:ridge;" ng-controller="myController">
            <li style="margin-bottom:10px; margin-top:10px;">
                <span style="margin-left:5px; font-size:15px; font-weight:bold; margin-top:10px;"> Posted by: @item.PostedBy</span><span style="font-style:italic;"> - @item.DatePosted</span>
                <br />
                <p style="margin-left:5px; white-space:pre-line;" id="test_@item.Id">@item.ForumPost</p>
                @if (User.Identity.IsAuthenticated)
                {

                
                <input type="submit" ng-click="show(@item.Id)" class="btn btn-sm btn-success" value="Reply" />
                <button type="submit" ng-click="quote('test_' + @item.Id)" class="btn btn-sm btn-default">Quote</button>}
                <span ng-show="showReply">
                    <input type="submit" ng-click="hide(@item.Id)" class="btn btn-sm btn-danger" value="Hide" /> 
                    @if (User.Identity.IsAuthenticated)
                {

                    using (Html.BeginForm("ReplyToPost", "Forum", new { id = item.Id }, FormMethod.Post))
                    {
                            <textarea class="form-control" placeholder="Write a reply..." name="reply" style="margin-bottom:5px;" id="textarea_@item.Id"></textarea>
                            <input type="submit" class="btn btn-info btn-sm" value="Submit" style="margin-bottom:5px;" />
                        }

                    }
                </span>

            </li>
            <li><hr style="background-color:grey; color:grey; border-color:grey;" /></li>
            <li style="margin-bottom:10px;" class="col-md-offset-1">
                
                @Html.Action("ShowReplies", new { id = item.Id })
            </li>


        </ul>

    }
</div>