@if (Model != null)
{
    <br />
    <hr style="border-color:black; color:black; background-color:black;" />
    <ul style="border:ridge; list-style:none;" class="col-md-6 col-md-offset-3">
        <li><label>Nickname:</label> @Model.NickName</li>
        <li><label>Username:</label> @Model.UserName</li>
        <li><label>Email:</label> @Model.Email</li>

        <li><label>Date of birth</label>: @Model.DateOfBirth</li>
        <li><label>Info:</label> @Model.Info</li>
    </ul>
}




