@model Project.Models.ApplicationUser

<div class="col-md-8 col-md-offset-1">

@using (Html.BeginForm("EditUser", "Users", routeValues: new { username = Model.UserName }, method: FormMethod.Post, htmlAttributes: new { }))
{
    <div class="form-group">
        <label class="col-xs-3 control-label">First Name</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" name="firstname" value="@Model.FirstName" placeholder="Enter your first name..." />
        </div>
    </div>
        <div class="form-group">
            <label class="col-xs-3">Last Name</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="lastname" placeholder="Enter your last name..." value="@Model.LastName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Email</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="email" placeholder="Enter your email..." value="@Model.Email" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Country</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="country" placeholder="Enter your country..." value="@Model.Country" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">City</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="city" placeholder="Enter your city..." value="@Model.City" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Image</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="image" placeholder="Enter an image url..." value="@Model.ImageURL" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Info</label>
            <div class="col-xs-9">
                <textarea type="text" style="height:200px;" class="form-control" name="info" placeholder="Info...">@Model.Info</textarea>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="Submit" />
        </div>
}

</div>

@*@using (Html.BeginForm("EditUser", "Users", routeValues: new { username = Model.UserName }, method: FormMethod.Post, htmlAttributes: new { }))
    {
        <hr style="border-color:black; color:black; background-color:black;" />
        <br />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "YYYY-MM-DD" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "YYYY-MM-DD" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "YYYY-MM-DD" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NickName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control", @placeholder = "YYYY-MM-DD" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "YYYY-MM-DD" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @placeholder = "YYYY-MM-DD" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Joined, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Joined, new { @class = "form-control", @placeholder = "YYYY-MM-DD" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Info, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Info, new { @class = "form-control", @placeholder = "Write something about yourself...", @style = "max-height:50px;" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Country, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @placeholder = "Write something about yourself...", @style = "max-height:50px;" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "Write something about yourself...", @style = "max-height:50px;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-info btn-lg" value="Save" />
                </div>
            </div>*@
