@using Microsoft.AspNet.Identity
@using Project.Models

@{
    var i = new LoginViewModel();
    
}
@if (Request.IsAuthenticated)
{
<ul class="nav navbar-nav navbar-right">
    <li>
        <form action="~/Users/SearchForUser" method="post" class="form-inline hidden-xs" style="margin-top:8px; margin-right:5px;">
            <div class="form-group">
                <input type="text" placeholder="Search for a user..." name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        </form>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>@User.Identity.GetUserName()</b> <span class="caret"></span></a>
        <ul id="login-dp" class="dropdown-menu">
            <li>
                <div class="row">
                    <div class="col-md-12">

                        
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-right">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="col-xs-12">@Html.ActionLink("Admin Tools", "Index", "Users", routeValues: null, htmlAttributes: new { @style = "color:white;" })</li>
                                    }


                                    <li class="col-xs-12">
                                        @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:white;" })
                                    </li>
                                    <li class="col-xs-12"><a style="color:white;" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                                </ul>

                            }

                        
                    </div>
                </div>
            </li>
        </ul>
</ul>
}
else
{
    @Html.Partial("_NotLoggedIn", i)

}

