@model IEnumerable<Project.Models.Blog>

<div id="Blogs">
    @foreach (var item in Model.Reverse())
            {
        <hr id="@item.Id" style="background-color:black; border-color:black; color:black;" class="col-md-12" />
        <br />
                <br />
                <img src="@item.ImageURL" style="max-height:200px; margin-bottom:20px;" class="col-md-3" />
                <h2 class="col-md-9">@item.Headline</h2>

                <p>@item.Post</p>
                <br />
                <div class="col-md-12">
                </div>

                <span style="font-weight:bold;">Posted by: </span>@item.PostedBy
                <p></p>
                <p><a href="#" class="btn btn-sm btn-info">Go to the top!</a></p>

                <br />
    }
</div>