@model Project.Models.ApplicationUser


<div class="col-md-10">
    <h2>This is your profile</h2>
    <hr />
    <div class="col-md-4">
        @Html.Partial("_ProfileSideBar")
    </div>
    <div class="col-md-8">
        <div class="col-xs-4 hidden-xs hidden-sm">
            <img src="@Model.ImageURL" style="max-width:200px;" />
        </div>
        <ul style="list-style:none;" class="col-xs-7 col-sm-offset-1">
            <li><h2 style="font-weight:bold;">@Model.UserName</h2></li>
            <li><label>First Name: </label> @Model.FirstName</li>
            <li><label>Last Name: </label> @Model.LastName</li>
            <li><label>Joined at: </label> @Model.Joined.ToString("yyyy-MM-dd")</li>
            <li><label>Lives in: </label><span> @Model.City, @Model.Country</span></li>
            <li><label>Email:</label> @Model.Email</li>
            <li><label>Date of birth</label>: @Model.DateOfBirth.ToString("yyyy-MM-dd")</li>
            <li><label>Info:</label> @Model.Info</li>
            </ul>
</div>
</div>
