@model IEnumerable<Project.Models.Groups>

@if (ViewBag.ErrorMessage != null)
{
    <h2>@ViewBag.ErrorMessage</h2>
}
@if (Model != null)
{


<div class="col-md-10">
    <h1>GroupIndex</h1>
    <hr />
    <div class="col-md-4">
        <ul class="nav nav-stacked nav-pills">
            <li>@Ajax.ActionLink("Index", "ReturnIndex", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "GroupIndex" })</li>
            <li>@Ajax.ActionLink("Create Group", "ReturnGroupForm", "Group", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "GroupIndex" }) </li>
            <li>@Ajax.ActionLink("Your Groups", "YourGroups", "Group", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "GroupIndex" })</li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <div id="GroupIndex" class="col-md-8">

        @Html.Partial("_PartialGroups")

    </div>
</div>
}