@if (Model != null)
{
    <div style="align-content:center;">
        <hr />
        <ul style="border:ridge; list-style:none;" class="col-md-6 col-md-offset-3">
            <li><h1 style="font-weight:bold;">@Model.UserName</h1></li>
            <li style="margin-top:5px;"><img src="@Model.ImageURL" style="height:100px;" /></li>
            <li><label>First Name: </label> @Model.FirstName</li>
            <li><label>Last Name: </label> @Model.LastName</li>
            <li><label>Joined at: </label> @Model.Joined</li>
            <li><label>Lives in: </label><span> @Model.City, @Model.Country</span></li>
            <li><label>Email:</label> @Model.Email</li>

            <li><label>Date of birth</label>: @Model.DateOfBirth</li>
            <li><label>Info:</label> @Model.Info</li>
            <li><br /></li>
            @if (Model.IsLockedOut)
            {
                <li>
                    <label style="color:red;">User is locked out! </label><p style="color:red; font-size:15px;"> @Model.LockoutEndDateUtc</p>
                </li>
            }
            <li style="margin-bottom:5px;">
                @if (Model.NickName == "Admin" || Model.NickName == "Moderator")
                {
                    <p></p>
                }
                else
                {
                    @Ajax.ActionLink("Edit", "EditUser", "Users", new { username = Model.UserName }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "AdminPage",

                   }, new { @class = "btn btn-info" })

                    if (Model.IsLockedOut)
                    {
                        @Html.ActionLink("Unlock", "UnLockAccount", "Account", new { username = Model.UserName }, new { @class = "btn btn-warning", @style = "margin-left:3px;" })
                    }
                    else
                    {
                        @Html.ActionLink("Lockout", "Lockout", "Account", routeValues: new { username = Model.UserName }, htmlAttributes: new { @class = "btn btn-danger", @style = "margin-left:3px;" })

                    }

                    if (Model.InRole)
                    {
                        @Html.ActionLink("UnMod", "UnMod", "Account", routeValues: new { username = Model.UserName }, htmlAttributes: new { @class = "btn btn-warning", @style = "margin-left:3px;" })
                    }
                    else if (!Model.InRole && !Model.IsLockedOut)
                    {
                        @Html.ActionLink("Mod", "MakeMod", "Account", routeValues: new { username = Model.UserName }, htmlAttributes: new { @class = "btn btn-success", @style = "margin-left:3px;" })
                    }

                }
            </li>
        </ul>
    </div>
}





