@using Project.Models
@model Project.Models.ApplicationUser
@{ 
    ApplicationDbContext context = new ApplicationDbContext();
}
@if (Model != null)
{
    <div style="align-content:center;">
        <hr style="border-color:black; color:black; background-color:black;" />
        <ul style="border:ridge; list-style:none;" class="col-md-6 col-md-offset-3">
            <li><h1 style="font-weight:bold;">@Model.UserName</h1></li>
            <li style="margin-top:5px;"><img src="@Model.ImageURL" style="height:200px;" /></li>
            <li><label>Name: </label> @Model.FirstName</li>
            <li><label>Joined at: </label> @Model.Joined.ToString("yyyy-MM-dd")</li>
            <li><label>Lives in: </label><span> @Model.Country</span></li>
            <li><label>Born in:</label>: @Model.DateOfBirth.ToString("yyyy")</li>
            <li><label>Info:</label> @Model.Info</li>
            <li>
                @using (Html.BeginForm("NewMessage", "Message", new { username = Model.UserName }, FormMethod.Post))
                        {
                    <div class="form-group">
                        <input type="text" placeholder="Headline..." name="headline" class="form-control" />
                    </div>
                <div class="form-group">
                    <textarea type="text" placeholder="Message..." name="content" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Send!" />
                </div>
                    
                }
                @*@{ 
                    var i = context.Message.Where(x => x.SentTo.UserName == Model.UserName).SelectMany(u => u.Content);
                }
                @if (i != null)
                {
                    <p>@i</p>
                }*@
                
            </li>
        </ul>
    </div>
}
