@model IEnumerable<Project.Models.Blog>

<div style="padding-top:20px;"  id="Top">

    <h1>The Blog</h1>
    <hr style="background-color:black; border-color:black; color:black;" />
    <!--ONLY ADMINS-->
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create a new blogpost", "NewBlogPost", null, new { @class = "btn btn-info btn-lg" })
        <hr style="background-color:black; border-color:black; color:black;" />
    }
    
    <br />

    <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm"  style="float:right;" id="BlogsAside">
        <ul class="nav nav-pills nav-stacked sideList">
            <li><h3>Blogposts</h3></li>
            @foreach (var item in Model.Reverse())
            {
                <li><a href="#@item.Id">#@item.Id - @item.Headline</a></li>
            }

        </ul>
    </div>

    <div class="col-md-8">
        @foreach (var item in Model.Reverse())
        {
            <h2 class="text-center" id="@item.Id">@item.Headline</h2>
            <p>@item.Post</p>
            <br />
            <a href="#Top" class="btn btn-sm btn-info">Go to the top!</a>
            @*@Html.ActionLink("Go to top!", "Index", "Blog", new { @class = "btn btn-info btn-sm"})*@
            <hr style="background-color:black; border-color:black; color:black;" />
            <br />
        }
    </div>
    <br>
</div>