@model Project.Models.ApplicationUser

<h1 style="font-weight:bold;">Change your profile</h1>
<hr />
<div>
    <ul class="nav nav-pills list-inline">
        <li><a href="~/Manage/Index">Start</a></li>
        <li class="active" style="font-size:30px;"><a href="~/Account/ChangeProfile">Change profile</a></li>
        <li><a href="~/Manage/ChangePassword">Change Password</a></li>
    </ul>
</div>
<div>
    <hr />
    @using (Html.BeginForm("EditProfile", "Account", routeValues: new { username = Model.UserName }, method: FormMethod.Post, htmlAttributes: new { }))
    {
        <div class="form-group">
            <label class="col-xs-3 control-label">First Name</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="firstname" name="firstname" value="@Model.FirstName" placeholder="Enter your first name..." required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Last Name</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="lastname" placeholder="Enter your last name..." value="@Model.LastName" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Email</label>
            <div class="col-xs-9">
                <input type="email" class="form-control" name="email" placeholder="Enter your email..." value="@Model.Email" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Country</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="country" placeholder="Enter your country..." value="@Model.Country" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">City</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="city" placeholder="Enter your city..." value="@Model.City" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Image</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="image" placeholder="Enter an image url..." value="@Model.ImageURL" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3">Info</label>
            <div class="col-xs-9">
                <textarea type="text" style="height:200px;" class="form-control" name="info" placeholder="Info..." required>@Model.Info</textarea>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="Submit" />
        </div>
    }
</div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
    }
