@using Project.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div style="background-image:url(~/Images/beige-full-hd-background_1_1920x1200.jpg)">
    <div class="row col-md-8 col-md-offset-2">
        <h1>@ViewBag.Title</h1>
        <hr />
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <br />
                    <ul class="col-md-12 nav nav-stacked">
                        <li>
                            <h2 class="text-center">
                                <span style="color:dimgrey;">User</span>
                                <span style="color:crimson;">Login</span>
                            </h2>
                        </li>
                        <li>
                            <img src="~/Images/user-128.png" alt="user" class="hidden-xs col-md-6 col-md-offset-3" />
                        </li>
                    </ul>
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-12" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>

                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}